.innerCircle {
    pointer-events: none;
    position: absolute;
    margin-left: 220px;
    margin-top: -180px;
    width: 100px;
    height: 100px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    transform: translate(-50%, -50%);
}

.outerCircle {
    border: 2px solid cornflowerblue;
    height: 450px;
    width: 450px;
    border-radius: 50%;
}

.invisibleCircle {
    opacity: 0;
    border: 2px solid black;
    width: 350px;
    height: 350px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 50%;
}